.view {
    max-width: 800px;
    margin: auto;
    margin-bottom: 100px;

    .branch-button {
        display: flex;
        flex-direction: row-reverse;
        height: 40px;

        & > .btn.btn-primary {
            padding: 1px 14px;
            border-radius: 2px;
            background-color: #EF5350;
            border: none;
        }

        margin: 0;
    }

    .view-title {
        margin-top: 0px;
        padding-bottom: 10px;
    }

    .banner {
        width: 100%;
        margin-bottom: 23px;
    }

    .public-DraftEditor-content {
        font-size: 18px;
    }

    .main-editor {
        .branch-options {
            margin-top: 7px;
            .choose-header {
                text-align: center;
                margin: auto;
            }
        }

        .paths {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .cv-link {
            button {
                font-size: 17px;
                border-color: #4FC3F7;
                color: #4FC3F7;
                background-color: #fff;
                border-radius: 3px;
                border-width: 2px;
                padding: 5px 19px;
                margin: 15px;
            }
        }
    }

    .divider {
        display: flex;
        flex-direction: row;
        align-items: center;

        .dashed {
            width: 90%;
            border-top: 3px dashed #eee;
            margin-right: 20px;
        }

        .btn {
            background-color: #4FC3F7;
            padding: 1px 14px;
            border-radius: 2px;
            margin-right: 8px;
            border: none;
        }
    }
}
