.view {
    max-width: 800px;
    margin: auto;
    margin-bottom: 100px;

    .branch-button {
        display: flex;
        flex-direction: row-reverse;
        height: 40px;

        & > .btn.btn-primary {
            padding: 1px 14px;
            border-radius: 2px;
            background-color: #EF5350;
            border: none;
        }

        margin: 0;
    }
    
    .banner {
        width: 100%;
        margin-bottom: 23px;
    }
    
  .view-title {
    margin-top: 0px;
    padding-bottom: 10px;
  }

  .public-DraftEditor-content {
    font-size: 18px;
  }

  .main-editor {
    .branch-options {
      margin-top: 7px;
      .choose-header {
        text-align: center;
        margin: auto;
      }
    }

    

    .public-DraftEditor-content {
        font-size: 18px;
    }
    
    .paths {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .cv-link {
      button {
        font-size: 17px;
        border-color: #2196f3;
        color: #2196f3;
        background-color: #fff;
        border-radius: 3px;
        border-width: 2px;
        padding: 5px 19px;
        margin: 15px;
        &:hover {
          border-color: #90caf9;
          color: #90caf9;
        }
      }
    }
  }

  .divider {
    display: flex;
    flex-direction: row;
    align-items: center;

    .dashed {
      width: 90%;
      border-top: 3px dashed #eee;
      margin-right: 20px;
    }

    .btn {
      background-color: #4fc3f7;
      padding: 1px 14px;
      border-radius: 2px;
      margin-right: 8px;
      border: none;
    }
  }
}

.view-title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-button {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 1.4em;
  font-weight: 400;
  font-family: 'PT Sans', sans-serif;
  text-align: right;
}

.card-info-container {
  display: flex;
  flex-direction: column;
}

.vote-count {
  margin: 4px;
  font-size: 1em;
  font-family: 'PT Sans', sans-serif;
}

.upvote-button {
  color: #2196f3;
}

.upvote-button:hover {
  color: #90caf9;
}

.downvote-button {
  color: #f44336;
}

.downvote-button:hover {
  color: #ef9a9a;
}

.card-button-container {
  display: flex;
  flex-direction: column;
}
