.navbar {
  border: none;
  background-color: #fff;
  box-shadow: 0 0 2px #777;

  .navbar-brand {
    font-family: 'PT sans', sans-serif;
    position: absolute;
    left: 50%;
    margin-left: -50px !important; /* 50% of your logo width */
    display: block;
    font-weight: 600;
    font-size: 26px;
    color: #37474f;
    &:hover {
      color: #263238;
    }
  }

  .logo {
    max-width: 84px;
    padding: 8px;
  }

  .navbar-button {
    background-color: #81d4fa;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
    margin: 8px;
    color: #fff;
    padding: 8px;
    border-radius: 2px;
  }

  .navbar-button:hover {
    background-color: #81d4fa;
    color: #fff;
  }

  .navbar-right li:last-child {
    margin-right: 5vw;
  }

  .navbar-right li {
    /*margin-right: 50px;*/
    padding: 10px;

    a {
      font-family: 'PT Sans', sans-serif;
      padding: 3px 8px;
      border: 2px solid #2196f3;
      border-radius: 2px;
      color: #2196f3;
      &:hover {
        border-color: #90caf9;
        color: #90caf9;
      }
    }
  }

  #profile-button a {
    font-size: 1.6em;
    border-width: 0px;
    color: #37474f;
    &:hover {
      color: #263238;
    }
  }
}
